.headdem{
    display:none;
}
.play{
    display: block;
}



body{
    background-color: black;
    image-orientation: from-image;
}
nav{
    background-color: rgb(239, 11, 11);
}
h1{
    color: rgb(240, 14, 14);

}
h3{
    background-color: aqua;
}

#cinema{
    display: none;
}
.centro{
    background-color: aqua;
    width: 300px;
    height: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
}
